html, body {
  height: 100%;
  width: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

#graph {
    border: 2px black;
    box-sizing: content-box;
    width: 100vw;
    height: 60vh;
}

#graphCover h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2vw;
}

#graphCover p {
    position: absolute;
    bottom: 40vh;
    right: 0;
    padding: 2vw;
    margin: 0;
    font-weight: bold;
}

#graphCover a {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5vw;
    height: auto;
}

#graphCover a img {
    width: max(5vw, 40px);
}

#graphCover a button:hover {
    background-color: rgb(220, 220, 220) !important;
    border-color: black !important;
}

#graphIndicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    transition: 0.5s;
}

#graphIndicator:hover {
    background-color: rgba(0, 0, 0, 0);
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 4px solid black;
    border-left: 0;
    padding: 2vw;
    width: 100vw;
    height: 60vh;
}

.step-containers {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    padding: 1vw max(1vw, 10px);
    overflow-y: scroll;
}

.step-containers .title {
    margin-bottom: 2vh;
}

#step4-container select {
    margin-bottom: 2vh;
}

#button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    body {
        height: 100vh;
        overflow: hidden;
        flex-wrap: nowrap;
    }
    
    #graph {
        width: 60vw;
        height: 100vh;
    }

    #graphCover p {
        bottom: 0;
        right: 40vw;
    }

    #graphIndicator {
        height: 100vh;
        width: 60vw;
    }

    #form {
        border-left: 4px solid black;
        border-top: 0;
        width: 40vw;
        height: 100vh;
    }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.githubButton:active {
    background-color: inherit !important;
}