body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: monospace;
}

h1 {
    margin: 5vh 0 2.5vh 0;
    text-align: center;
}

.graphEditor {
    height: 75vh;
    width: 80vw;

    canvas {
        border: 3px solid black;
        border-radius: 10px;
    }
}